<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> New Link </title>
  </head>
  <body>

    <!--  Add Scripts for game here,
     later we will load the game on another page   -->


  </body>
</html>
