<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <script type="text/javascript" src="js/Player.js"></script>
    <script type="text/javascript" src="js/Enemy.js"></script>
    <script type="text/javascript" src="js/Boot.js"></script>
    <script type="text/javascript" src="js/Preload.js"></script>
    <script type="text/javascript" src="js/spriteManager.js"></script>
    <script type="text/javascript" src="js/userInterface.js"></script>
    <script type="text/javascript" src="js/Game.js"></script>


    <title> New Link </title>
  </head>
  <style media="screen">
    body {
      padding: 0;
      margin: 0;
      background-color: #222;
    }
  </style>

  <body>

    <script type="text/javascript" src='js/main.js'></script>
    <!--  Add Scripts for game here,
     later we will load the game on another page   -->


  </body>
</html>
